@model IEnumerable<Arusha.Domain.OrderItems>

@{
    ViewData["Title"] = "لیست";
}

<h1>لیست</h1>

<p>
    <a asp-action="Create">جدید</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Order)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Variant)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.VariantName)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.SinglePayedPrice)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.SingleSellPrice)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.SingleBuyPrice)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Order.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Variant.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VariantName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SinglePayedPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SingleSellPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SingleBuyPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">ویرایش</a> |
                <a asp-action="Details" asp-route-id="@item.Id">جزئیات</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">حذف</a>
            </td>
        </tr>
}
    </tbody>
</table>
