@model IEnumerable<Arusha.Domain.Order>

@{
    ViewData["Title"] = "لیست";
}

<h1>لیست</h1>

<p>
    <a asp-action="Create">جدید</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.BillingMobile)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.BillingName)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.BillingFamily)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.BillingEmail)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.BillingGender)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.ShippingCost)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.ShippingMethod)
            </th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BillingMobile)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BillingName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BillingFamily)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BillingEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BillingGender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShippingCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShippingMethod.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">ویرایش</a> |
                <a asp-action="Details" asp-route-id="@item.Id">جزئیات</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">حذف</a>
            </td>
        </tr>
}
    </tbody>
</table>
